* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* SIDEBAR */


.logo-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 1px solid black;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all .2s ease;
    z-index: 10;
}

.sidebar.active ~ .main-content {
    left: 270px;
    width: calc(100% - 334px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: white;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    display: flex;
    align-items: center;
    opacity: 0;
    color: white;
    height: 50px;
    width: 100%;
    pointer-events: none;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items:center;
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.user p {
    color: white;
    opacity: 1;
    margin-left: 1rem;
    cursor: default;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}
.sidebar.active p {
    opacity: 1;
}
 
.sidebar ul li {
    display: flex;
    position:relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    white-space: nowrap;
}

.sidebar ul li a {
    color: white;
    display: block;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: white;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align:center;
    height: 50px;
    border-radius: 12px;
    line-height: 10px;
}

.sidebar .nav-item {
    display: none;
}

.sidebar.active .nav-item {
    display: inline-block;
}

.sidebar ul li .tooltip {
    position:absolute;
    background-color: white;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 ;
    border-radius: .6rem;
    box-shadow: 0 .5rem 2rem grey;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    display: none;
}

.sidebar ul li:hover .tooltip {
    display: inline;
}

.sidebar.active ul li:hover .tooltip{
    display: none;
}

.sidebar.active ul li a{
    padding-right: .7rem;
}

/* MAIN CONTENT */

.main-content {
    background-color: #1e242b;
    color: white;
    z-index: 1;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 75px;
    transition: all 0.2s ease;
    width: calc(100% - 139px);
    padding: 1rem 2rem;
}

.main-content-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 80px repeat(2, 1fr);
    grid-template-areas: 
    'header header'
    'due-today all-tasks'
    'bottom-left all-tasks';
}

/* MAIN CONTENT -- DUE TODAY */

.container {
    justify-self: center;
    align-self: center;
}

.due-today-container {
    grid-area: due-today;
    display: flex;
    flex-direction: column;
    width: (100% - 3rem);
    color: white;
    padding-inline: 3rem;

}

.table-headers {
    text-align: left;
    margin: 5px;
}

.task-table { 
    /*General tables alignment and view*/
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 15rem;
    overflow: auto;
    table-layout: fixed;
    border: 1px solid rgb(40, 36, 40);
    border-radius: 0 0 10px 10px;
    box-shadow: 10px 10px 20px black;
}

.task-table thead, .task-table td {
    height: 2rem;
}

.task-table tbody tr:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition:font-size 0.1s ease;
    cursor: pointer;
}


.task-table th, .task-table td {
    /* General alignment and orientation for all elements */
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow:ellipsis;
    padding: 5px;
    width: 100%;
}


.task-table th:nth-child(1),
.task-table td:nth-child(1) {
    width: 60px;
}

.task-table th:nth-child(2),
.task-table td:nth-child(2) {
    min-width: 12rem;
}

.task-table th:nth-child(3),
.task-table td:nth-child(3) {
    width: 80px;
}

.task-table td:nth-child(3) {
    text-align: right;
}

.task-table th:nth-child(4),
.task-table td:nth-child(4),
.task-table th:nth-child(5),
.task-table td:nth-child(5) {
    text-align: center;
}

.task-table th {
    text-align: center;
    background-color: #12171e;
    color: white;
    border: 1px solid white;
}

.task-table tr{
    border-bottom: 1px solid grey ;
}


tr.completed td {
    text-decoration: line-through;
    color: whitesmoke
}

.circle {
    width: 15px;
    height: 15px;
    border: 1px solid white; /* empty circle */
    border-radius: 20%;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    transition: background-color .2s ease;
    margin-top: 5px;
}

.circle.full {
    background-color: green;
}

.circle:hover {
    background-color: white;
}


/* MAIN CONTENT - ALL TASKS TABLE */

.all-tasks-container {
    grid-area: all-tasks;
    display: flex;
    flex-direction: column;
    width: (100% - 3rem);
    color: white;
    padding-inline: 3rem;
}

.task-table__all-tasks {
    height: 35rem;
    width: 100%;
}

.task-table__all-tasks th:nth-child(3),
.task-table__all-tasks td:nth-child(3) {
    width: 20rem;
}



/* ADD-TASK */

.main-content-add-task{
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 100%;
    grid-template-areas: 
        'header'
        'add-task';
}

.main-content-add-task .container{
    grid-area: header;
}

.add-task-container {
    grid-area: add-task;
    align-self: center;
    justify-self: center;
    width: 30rem;
    height: 20rem;
    border: 1px solid rgb(40, 36, 40);
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

.add-task-container form{
    margin: 2rem;
    display: grid;
    min-height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'task-text task-text priority' 
        'date time .' 
        'submit submit submit' ;
    gap: 10px;
}

.add-task-container .inputs{
    display: flex;
    flex-direction: column;
    justify-self: left;
    font-size: 20px;
}

.add-task-container .text-input{
    grid-area: task-text;
    width: 100%;
}

.add-task-container .text-input input{
    margin-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 1px;
}

.add-task-container .priority-input{
    grid-area: priority;
    justify-self: right;
}

.add-task-container .priority-input select{
    margin-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 1px;
    border: 2px solid black;
}

.add-task-container .date-input{
    grid-area: date;
}

.add-task-container .date-input input{
    margin-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 1px;
    border: 2px solid black;
}

.add-task-container .time-input{
    grid-area: time;
    justify-self: right;
}

.add-task-container .time-input input{
    margin-top: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding: 1px;
    border: 2px solid black;
}

.add-task-container .submit-button{
    grid-area: submit;
}

.add-task-container .submit-button button{
    justify-self: right;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 3rem;
    height: 2rem;
    padding: 5px;
}


/* LABELS */
.main-content-labels {
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        'header header header header header'
        '. left-labels mid-labels right-labels .' ;
    justify-items: center;
    align-items: center;
    gap: 2rem;
}

.container {
    grid-area: header;
}

.label-container h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 22px;
}

.label-container {
    height: 20rem;
    width: 20rem;
   
}

.label-container table {
    display: block;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    overflow: auto;
    table-layout: fixed;
    text-align: left;
    text-overflow:ellipsis;
    box-shadow: 10px 10px 20px black;
    border-radius: 0 0 10px 10px;
}

.label-container table tbody tr:hover {
    background-color: white;
    color: #12171e;
    cursor: pointer;
}


.label-container thead{
    height: 1.5rem;
    background-color: #12171e;
}

.label-container th{
    border: 2px solid white;
    width: 100%;
    padding: 5px;
}

.label-container th:first-child,
.label-container td:first-child {
    width: 15%;
}

.label-container td:nth-child(2),
.label-container th:nth-child(2) {

    text-align: right;
}

.label-container td {
    padding: 5px;
    padding-block: 10px;
    border-bottom: 1px solid grey;
}

.left {
    grid-area: left-labels;
}

.middle {
    grid-area: mid-labels;
}

.right {
    grid-area: right-labels;
}


